language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
env:
  REACT_APP_BASE_URI: $REACT_APP_BASE_URI
script:
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: master