.container {
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
}

.grid > div {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ccc;
}

.cell {
  cursor: pointer;
  border-radius: 15%
}

.cell:active {
  background: cornflowerblue;
}

.word-submit {
  margin-top: 20px;
  margin-bottom: 15px;
}
.message-block{
  color: crimson;
  font-weight: 600;
  font-size: 16px;
}
.pd-20{
  padding: 20px;
}

.md-20{
  margin:20px;
}

.score {
  font-size: 25px;
  color: dimgray;
}

.valid-word-list {
  color: royalblue
}