.container {
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.grid > div {
  padding: 15px;
  background-color: #ccc;
}

.cell {
  cursor: pointer;
  border-radius: 15%
}

.cell:active {
  background: goldenrod
}

.word-submit {
  margin-top: 20px;
}